.footer
	span © 2018 The Christian Broadcasting Network
	br
	span © 2018 Асоціація "Еммануїл"

<!--build:js js/main.min.js-->
<!--bower:js-->
<script src="wendor/jquery/dist/jquery.js"></script>
<script src="wendor/mediaelement/build/mediaelement-and-player.js"></script>
<!--endbower-->
script(src="js/main.js")
<!--endbuild-->