include _header
body
	section.top.grid
		.topText
			h2 CBN Documentaries presents Christmas: <em>The Story Behind the Traditions</em>
		.topOrder
			a(href="#!").btn заказать
	section.content.grid
		h2 Discover the Meaning Behind Your Favorite Holiday Traditions & Experience the Special Reading of a Beloved Christmas Classic!
		.contentImg
			img(src="img/christmas-traditions-bundle1.png", alt="")
		.contentText
			p Filmed in eight countries, Christmas: The Story Behind the Traditions takes you around the world to discover the history of Christmas and the meaning behind the traditions you love to celebrate.
			p This Christmas, you can add greater meaning to your holiday as you learn:
			ul
				li Why December 25th is the historical birthdate of Jesus
				li What is the symbolism behind Christmas trees and stockings?
				li How did the tradition of gift-giving begin?
				li Bonus Features—Advent: The Coming of Christ, The Christmas Truce: Holiday in the Trenches, Zak’s Shop: Christmas Gifts from Bethlehem
		.contentWatch
			a.btn трейлер
	section.order
		h2 заказать
		.form
			form(action="")
				input(name="name" type="text")
				label name
				input(name="email" type="email")
				label email
				input(type="submit" value="send").btn

	include _footer