include _header
body
	section.videoContainer
		.video.grid
			.videoPlaer
				video(controls width="640" height="400" src="img/Christmas Traditions TRAILER_UA.mp4" poster="img/poater.JPG")
	section.top.grid
		.topText
			h2 CBN презентує унікальний фільм <em>Різдво: Історія традицій</em>
		.topOrder
			a(href="https://bit.ly/2BbMjqp" data-target="menu" target="_blank").btn замовити
	section.contentBackground
		.wrapper
			.content.grid
				h1 Наповніть свої серця та домівки <br>особливими моментами радості!
				.contentImg
					img(src="img/BANER1.jpg", alt="")
				.contentText
					ul
						li Чому Різдво святкують 25-го грудня?
						li Як єпископ став Санта-Клаусом?
						li Чому ми святкуємо з ялинкою, вінками та панчохами?
						li Хто розпочав традицію різдвяних подарунків?
					br
					p Компанія CBN підготувала унікальний документальний фільм про Різдво, яким ми хочемо поділитися з вами і водночас допомогти тим, хто цього дуже потребує.
					p Зробіть <a href="https://donate.emmanuil.tv/#fast_donation" class="link" target="_blank">пожертву</a> від 300 грн  та отримайте ексклюзивний різдвяний фільм!
					p Також ви матимете можливість отримати особливу книгу “Найкращі цитати світу”. Для цього <a href="https://bit.ly/2BbMjqp" class="link" target="_blank">зареєструйтеся.</a>
					p
			.contentWatch
				a(href="#!").btn трейлер
	section.orderBackground.grid#order
		.order.grid
			h2 заказать
			form(action="").form.grid
				input(type="submit" value="send").btn

		include _footer